<div id="routingPreferenceSlider_tmpl">
	<div id="{{label}}">
		<div>
			<div class="minSliderLabel small">{{min.label}}</div>
			<div class="maxSliderLabel small">{{max.label}}</div>
		</div>
		<input id="{{label}}_slider" type="text" class="span2 horizontalSlider" value="" data-slider-min="{{min.value}}" data-slider-max="{{max.value}}" data-slider-step="{{step}}" data-slider-value="{{value}}" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
	</div>
</div>

<div id="routingPreferenceAccordionElem_tmpl">
    <div id="{{id}}" class="{{class}}">
        <div role="tab" id="heading{{id}}">
		  {{#help}}
			<a href="#" class="helpIcon pull-right glyphicon glyphicon-question-sign"/>
		  {{/help}}
          <div class="panel-title">
            <div id="title_{{id}}" class="collapsed small" data-toggle="collapse" data-parent="#{{parent}}" aria-expanded="false" aria-controls="collapse_{{id}}"/>
          </div>
        </div>
        <div id="collapse_{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
          <div class="panel-body" style="padding:0px;"/>
        </div>
      </div>
</div>

<div id="routingPreferenceVerticalSlider_tmpl">
	<div id="{{label}}" style="float:left;height:82px;margin-left:-4px">
		<input id="{{label}}_slider" type="text" class="span2" value="" data-slider-min="{{min.value}}" data-slider-max="{{max.value}}" data-slider-step="{{step}}" data-slider-value="{{value}}" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide" data-slider-handle="hidden-handle" style="width:{{widthpx}}px;height:82px;">
		<div class="vertical-label-text">{{label}}</div>
	</div>
</div>

