<div id="popupMessageTemplate_tmpl">
  <div id="popup_{{id}}" class="modelessDialogBackground" style="opacity:0">
    <div class="modelessButton"><button type="button" class="btn btn-info">Close</button></div>
    <div class="modlessDialogBody"></div>
  </div>
</div>

<div id="authDialogTemplate_tmpl">
    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{prompt}}</h4>
                </div>
                <div class="modal-body">
                  <div id="google">
                    <a href="#">
                      <img src="graphics/google-icon.png" class="authProviderIcon">
                    </a>
                  </div>
                  <div id="facebook">
                    <a href="#">
                      <img src="graphics/facebook-icon.png" class="authProviderIcon">
                    </a>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="streetView_tmpl">
  <div id="streetViewWindow" style="position:fixed;bottom:40px;right:40px;z-index: 401">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="padding:5px;height:30px">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body" style="height:300px;padding:0">
                <div id="streetViewBody" style="height:300px"></div>
                <div id="static" class="hidden" style="height:300px;background-image: url(graphics/static.gif);"></div>
              </div>
            <div class="modal-footer" style="padding:2px 5px;height:30px">
                <button id="walk" type="button" class="btn btn-default" style="height:21px;padding:0px 10px 0px 10px;font-size: 13px">Walk</button>
                <button id="stop" type="button" class="btn btn-default hidden" style="height:21px;padding:0px 10px 0px 10px;font-size: 13px">Stop</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div id="shareDialogTemplate_tmpl">
  <div id="shareDialog" style="position:fixed;top:30px;left:355px;z-index:401">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="padding:5px;height:30px">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p id="status"></p>
                <a id="url" href="{{url}}" target="_blank">
                  {{url}}
                </a><br>
                <p id="hint"></p>
                <p id="result" class="small hidden"></p>
              </div>
            <div class="modal-footer" style="padding:2px 5px;height:30px;">
                  <span id="busyIcon" class="btn glyphicon spinner hide" style="margin-right:-45px;margin-top: 5px;"></span>
                <button id="toggleShare" type="button" class="btn btn-default" style="height:25px;width:130px;padding:0px 10px 0px 10px;font-size:13px">
                  <span id="actionName"/>
                </button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
